*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content{
  height: 85vh;
}

.register-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

/* transaction page  */
.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20x;
  box-shadow: 0 0 3px grey;
  
}

@tailwind base;
@tailwind components;
@tailwind utilities;